<div class="p-4">
    <h1 align="center">Seleccione Filtro de Busqueda</h1>
</div>
  
{{#if links}}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="col">
                                    <img src="/img/botiquin.jpg" alt="Logo Unidad" width="200" height="200"  />
                                    <div class="mx-auto" align="center">
                                        <a class="btn btn-warning" href="/links/medicamentos">Ver Medicamentos para mi unidad</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="col">
                                    <img src="/img/alergia.png" alt="Logo Unidad" width="200" height="200"  />
                                    <div class="mx-auto" align="center">
                                        <a class="btn btn-danger" href="/links/alergias">Ver las Alergias en mi unidad</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="col">
                                    <img src="/img/intolerancia.jpg" alt="Logo Unidad" width="200" height="200"  />
                                    <div class="mx-auto" align="center">
                                        <a class="btn btn-success" href="/links/intolerancias">Ver las Intolerancias de mi unidad</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="col">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="col">
                                    <img src="/img/enfermedades.jpg" alt="Logo Unidad" width="200" height="200"  />
                                    <div class="mx-auto" align="center">
                                        <a class="btn btn-success" href="/links/enfermedades">Enfermedades en Mi Unidad</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="col">
                                    <img src="/img/traumatico.jpg" alt="Logo Unidad" width="200" height="200"  />
                                    <div class="mx-auto" align="center">
                                        <a class="btn btn-primary" href="/links/traumaticos">Lesiones en Mi Unidad</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="col">
                                    <img src="/img/psicologico.png" alt="Logo Unidad" width="200" height="200"  />
                                    <div class="mx-auto" align="center">
                                        <a class="btn btn-warning" href="/links/psicologicos">Problemas Psicologicos</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>


{{else}}
<div class="col mx-auto">
    <div class="card card-body text-center">
        <div class="row">
            <div class="mx-auto " align="center">
                <h2 align="center">No eres Dirigente.....</h2>
            </div>
            
        </div>
        <div class="row">
            <div class="mx-auto">
                <img src="/img/malandrin.jpg" alt="Logo Unidad" width="786" height="353" align="center" />
            </div>
            
        </div>
        <div class="row">
            <div class="mx-auto p-3">
                <a class="btn btn-warning" href="/profile">Volver a mi Perfil</a>
            </div>
            
        </div>
    </div>
</div>
{{/if}}

